body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: url(../img/white_sand.png);
    background-color: rgba(255,255,255,.4);
    }

h1{
    font-size: 160%;
    font-weight:bold;
    }

header.container{
/*    background: url(../img/topstrip.png) repeat-x center;*/
background: rgb(230,230,230);
    background: -moz-linear-gradient(center top , rgba(255,255,255,.7), rgba(230,230,230,.7)) repeat scroll 0 0 transparent;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(110,110,110,.7)), color-stop(1, rgba(100,100,100,.7)) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77ffffff', endColorstr='#66cccccc');
  background: -o-linear-gradient(rgba(255,255,255,.7),rgba(200,200,200.7));
    }

footer{
    background-color: rgba(255, 255, 255, .4);
    }

#main {
  background-color: rgb(255,255,255);
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(255,255,255,.7)), color-stop(1, rgba(255,255,255,.4)) );
  background: -moz-linear-gradient(center top , rgba(255,255,255,.7), rgba(255,255,255,.4)) repeat scroll 0 0 transparent;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#778cd0ff', endColorstr='#668cd0ff');
  background: -o-linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.4));
    }    

#preface {
  background-color: rgb(140,208,255);
  background: -moz-linear-gradient(center top , rgba(140,208,255,.7), rgba(115,180,230,.7)) repeat scroll 0 0 transparent;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(208,236,255,.7)), color-stop(1, rgba(255,255,255,.7)) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#778cd0ff', endColorstr='#668cd0ff');
  background: -o-linear-gradient(rgba(140,208,255,.7),rgba(115,180,230,.7));
  color: #585656;
  text-align: center;
  text-shadow:1px 1px 1px #fff;
  }

/*------ NAV ---*/
.logo a {
	outline:none;
	color:#000;
	text-decoration:none;
	display:block;
	width:113px;
	height:80px;
	background-image:url(../img/logo.png);
	position:relative;
	-moz-transition:background 0.1s ease-in-out;
	-webkit-transition:background 0.1s ease-in-out;
	o-transition:background 0.1s ease-in-out;
	transition:background 0.1s ease-in-out;
 }   

nav{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    z-index: 1000;
    padding: 16px 0 3px 0;
    color: #222;
    font-size: 16px;
    font-weight: bold;
c    text-decoration: none;
    }

nav a, nav a:visited{
    color: #000;
    text-decoration: none;
    padding:0;
    margin:0;
    position: relative;
    outline: none;
    opacity: 0.5;
    }


nav ul{
    text-align: center;
    list-style: none;
    margin-left: 1em;
    }

nav a:hover,
nav a:active,
nav a:focus,
nav a.active{
    color: #000;
    opacity:1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    }    

nav ul li{
    float:left;
    width: 14%;
    margin: 0 2px 0 0;
    padding: 5px;
}

#login{
    color: white;
    z-index: 999;
    text-align: right;
    top: 0;
    left: 70.5%;
    width: 22.05%;
    position: absolute;
    }
    
#login-link{
    background: -moz-linear-gradient(center top , #353535, #222) repeat scroll 0 0 transparent;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #353535), color-stop(1, #222) );
    background: -o-linear(#353535, #222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#222');
    background-color:#353535;
    display:inline-block;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    position: relative;
    z-index: 999;
    border: 2px solid rgba(100,100,100,.3);
    border-top: none;
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    -o-border-radius:0 0 10px 10px;
    border-radius:0 0 10px 10px;
    }
    
#login-link a{
    padding: 0.5em !important;
    display: block;
    width: 80px;
    text-align: center;
    position: relative;
    height: 30px;
    color: #fff;
    }
    
#login_form{
    padding: 10px;
    background-color:#353535;
    overflow: hidden;
    position: relative;
    z-index: 3;
    -moz-border-radius:0 0 0 10px;
    -webkit-border-radius:0 0 0 10px;
    -o-border-radius:0 0 0 10px;
    border-radius:0 0 0 10px;
    }
    
label{
    margin: 0 1em 0 0;
    }
    
article{
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.25);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.25);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.25);
	box-shadow:0 0 10px rgba(0,0,0,0.25);
	}
section.content{
    padding: 1em;
    }
