<!DOCTYPE HTML>
<html>
    <head>
      {% block head %}{% endblock %}
      <style type="text/css">
      @import "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css";
      </style>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
      <script type="text/javascript" src="days/"></script>
    </head>

    <body>
     {% block body %}
     {% endblock %}
     <div id="wrapper">
        <div id="header">
        </div>
        <div id="main">
          <div id="sidebar">
          </div>
        </div>
        <div id="footer">
        </div>
     </div>
    </body>
</html>

