{% extends "base.html" %}

{% block preface %}
<div id="login-main">
              
                {% if user.is_authenticated %}
                <!-- Authenticate account menu -->

                  <a href="/logout/">Logout</a>

                {% else %}
              <section>
                {% load url from future %}
                <form action="/login/" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <label for="username">Username</label><input type="text" name="username" value="" id="username" />
                <label for="password">Password</label><input type="password" name="password" value="" id="password" />
                <input type="hidden" name="next" value="{{ NEXT }}" />

            <p><input type="submit" value="Login →"></p>
                </form>
              </section>
              {% endif %}
            </div><!-- login -->
{% endblock %}
